/*
#############################
##License Details
#############################
## If you are seeing this file, you are bound to follow the following temrs and conditions:
## No part of this source code may be disclosed or transferred outside Arrivu Systems or the current interested parties.
## No part of this publication may be reproduced or transmitted in any form or by any means, including photography and recording, without the written permission of Arrivu Systems, an application for which should be addressed to the organisation.
## Such written permission must also be obtained before any part of this publication is stored in a retrieval system of any nature.
#############################
## Copyright ©Arrivu Systems (2012). All Rights Reserved.
#############################
*/

.footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #000;
color: #777;
}

.footer a {
	color : #333;
}


.footer big {
float: left;
}

.footer ul {
float: right;
list-style: none;
}

.footer ul li {
float: left;
margin-left: 10px;
}

.clear {
clear: both;
margin-top: 1em;
margin-bottom: 1em;
display: inline-block;
}