/* #763A7A : violate;  #50d07d : green ; #f1684e : orange ;  #0288AD : blue ;
#00B1B0; :  different blue
#F37332; :  different orange ;
#ffd500   yellow
*/
@import url(http://fonts.googleapis.com/css?family=Corben);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Proxima+Nova);
@import url(http://fonts.googleapis.com/css?family=proxima-nova);

body{
	background-image: url(../resources/images/banner.jpg) ;
	font-family: Tahoma ;
}

.brand img {
	border-style: solid;
	border-width: 2px;
	border-color: #00B1B0 ;
	width:18px;
	height:18px;
}

.main{
	padding-top: 60px;
}

/*.drawrightline{
	border-style: none;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color:  #00B1B0 ;
}*/

.drawborder img {
	border-style: solid;
	border-width: 10px;
	border-color: #00B1B0 ;
	margin-top:50px;
}

.subscribe-button{
	margin:10px;
}

.strip{
	width:100%;
	background-color: #254117;
	padding: 10px;
	color: #fff;
	text-align: center;
	
}

.strip h1{
	font-family: Gabriola ;
	font-size: 200%;
	font-weight: 100 ;
}

.gap{
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.colorblue{
	background-color: #00B1B0 ;
}

.textbanner{
	margin: 10px;
}

.textbanner h1{	
	color: #00B1B0;
	font-family: Tahoma ;
	font-size: 35px;
	font-weight: 100;
	text-align: justify;
	
}

.textbanner h3{
	color: #333;
	font-family: Tahoma ;
	font-size: 25px;
	font-weight: 100;
	text-align: left;
}

.textbanner p{
	color: #333 ;
	font-family: Tahoma, Nobile, "Proxima Nova" ;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
}

.drawline{
	margin: 10px;
	width:90%;
	background-color: #00B1B0 ;
	color:#000;
	height:5px;
}


.well-subscribe {
background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 30%, rgba(3, 68, 165, 0.2) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(3, 68, 165, 0.2)));
padding:10px;
}

.well-subscribe{
	background-color: rgba(255,255,255,0);
	border-style: none;
	border-radius: none;
	border-top-style: solid;
	border-top-color: #00B1B0;
	border-top-width: 5px;
}

.well-subscribe h3 {
color: #006DA3;
font-family:   Nobile, "Droid Sans", "Josefin Sans";
border-bottom: 1px solid #EEE;
margin-bottom: 8px;
padding-bottom: 2px;
font-size: 20px;
line-height: 30px;
}

.share_buttons .facebook {
display: block;
position: relative;
top:5px;
width: 79px;
height: 27px;
float: right;
margin-left: 20px;
background: url('../resources/images/social_share_buttons.png') no-repeat 0 0;
}

.share_buttons .twitter {
display: block;
position: relative;
top:5px;
width: 79px;
height: 27px;
float: right;
margin-left: 10px;
background: transparent url('../resources/images/social_share_buttons.png') no-repeat 0 -54px;
}